<!DOCTYPE html>
<html>
    <head>
        <title>Puzzle Answer Checker</title>
            	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        
        <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    	<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.16/sorting/datetime-moment.js"></script>
    	<script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
        	namespace = '/test';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            socket.on('puzzle solved', function(msg) {
                location.reload();
            });
        });
        $(document).ready(function() {
            $.fn.dataTable.moment('hh:mmA [on] MMMM DD, YYYY');	
		    $('#table').DataTable({
		    	paging: false,
		    	info: false,
		    	searching: false,
		    	order: [[2,'asc']]
		    });
		});
		</script>
    </head>
    <body style="font-family:Arial, Helvetica, Lucida" >
    
    <div align="center">
    <h1><b>SPecialOPS</b></h1> 
    </div>
    
    <form action="" method="post" style="padding:30pt">
        <p style="font-size:15pt">
            <b style="font-size:15pt">{{ form.puzzle_list.label }}</b><br>
            {{ form.puzzle_list(size=1) }}
        </p>
        <p style="font-size:15pt">
            <b style="font-size:15pt">{{ form.answer.label }}</b><br>
            {{ form.answer(size=32) }}
            {% for error in form.answer.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p style="font-size:15pt">{{ form.submit() }}</p>
    </form>
    
    <div align="center">
    <p style="font-size:20pt"><font color="blue">{{solved}} solved puzzle(s) out of {{total}}</font></p>
    </div>
    
        <table id="table" class="display" style="width:80%">
          <thead>
	          <tr>
			    <th align="left" style="font-size:15pt">Puzzle Name</th> 
	    		<th align="left" style="font-size:15pt">Answer</th>
	    		<th align="left" style="font-size:15pt">Time solved</th>
	  			</tr>
	  		</thead>
	  		<tbody>
        {% for puzzle in solved_list %}
		  <tr>
		    <td>{{puzzle.puzzle_name}}</td>
		    <td>{{puzzle.puzzle_answer}}</td>
		    <td>{{puzzle.solved_time}}</td>
		  </tr>
        {% endfor %}
        		  </tbody>
        </table>
        

    </body>
</html>