<html>
    <head>
        <title>Puzzle Answer Checker</title>
    </head>
    <body>
    
    <form action="" method="post">
        <p>
            <b>{{ form.puzzle_list.label }}</b><br>
            {{ form.puzzle_list(size=1) }}
        </p>
        <p>
            <b>{{ form.answer.label }}</b><br>
            {{ form.answer(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    
        <table style="width:80%">
          <tr>
		    <th>Puzzle Name</th> 
    		<th>Answer</th>
  			</tr>
        {% for puzzle in solved_list %}
		  <tr>
		    <td>{{puzzle.puzzle_name}}</td>
		    <td>{{puzzle.puzzle_answer}}</td> 
		  </tr>
        {% endfor %}
        </table>
    </body>
</html>